.mock-section-title {
  position: relative;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 20px;
  color: var(--text-primary);

  &__discover-link {
    position: absolute;
    top: 50px;
    right: 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: var(--text-secondary);

    &:hover {
      color: var(--link-text-hover);
    }
  }
}
